body{

background:#0d1117;

color:white;

font-family:monospace;

padding:20px;

}

h1{

text-align:center;

color:#58a6ff;

}

#terminal{

height:600px;

border:

2px solid #00ff99;

padding:10px;

background:black;

box-shadow:

0 0 20px #00ff99;

overflow:auto;

}